.pullToRefresh {
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    width: 50px;
    height: 50px;

    transform:translateY(-60px) translateZ(0) rotateZ(0deg);
    -ms-transform:translateY(-60px) translateZ(0) rotateZ(0deg); 	/* IE 9 */
    -moz-transform:translateY(-60px) translateZ(0) rotateZ(0deg); 	/* Firefox */
    -webkit-transform:translateY(-60px) translateZ(0) rotateZ(0deg); /* Safari 和 Chrome */
    -o-transform:translateY(-60px) translateZ(0) rotateZ(0deg); 	/* Opera */
}
.backTranTop
{
    transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease; /* Firefox 4 */
    -webkit-transition: transform 0.5s ease; /* Safari 和 Chrome */
    -o-transition: transform 0.5s ease; /* Opera */
}
.pullToRefresh img {
    display:block;
    width: 30px;
    height: 30px;

    /* 让img居中在.pullToRefresh中 */
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin:auto;
}